<a href="https://colab.research.google.com/github/EmidioLP/Freecodecamp/blob/main/Notebooks/Machine%20Learning%20with%20Python/Classificacao.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Classificação
 
 Enquanto a regressão é usada para prever um valor numérico, a classificação é usada para separar pontos de dados em classes de diferentes labels. 

 Esse notebook é baseado no guia disponibilizado no site do Tensorflow.Para mais informações, acessar o link a seguir: https://www.tensorflow.org/tutorials/estimator/premade

# Imports e Setup do sistema

In [1]:
%tensorflow_version 2.x #Apenas é necessária caso esteja trabalhando com um notebook

Colab only includes TensorFlow 2.x; %tensorflow_version has no effect.

In [6]:
from __future__ import absolute_import, division, print_function, unicode_literals

import pandas as pd
import tensorflow as tf

# Base de dados

A base de dados que iremos utilizar separa tipos de flores em 3 diferentes espécies. 


*   Setosa
*   Versicolor
*   Virginica

As informações sobre cada flor são as seguintes:


*   sepal lenght (comprimento da sépala)
*   sepal width  (largura da sépala)
*   petal length (comprimento da pétala)
*   petal width  (largura da pétala)

In [7]:
# Definição de algumas colunas constantes para utilização futura
CSV_COLUMN_NAMES = ['SepalLenght', 'SepalWidth', 'PetalLenght', 'PetalWidth', 'Species']
SPECIES = ['Setosa', 'Versicolor', 'Virginica']

In [9]:
train_path = tf.keras.utils.get_file("iris_training.csv", "https://storage.googleapis.com/download.tensorflow.org/data/iris_training.csv")
test_path = tf.keras.utils.get_file("iris_test.csv", "https://storage.googleapis.com/download.tensorflow.org/data/iris_test.csv")

train = pd.read_csv(train_path, names=CSV_COLUMN_NAMES, header=0)
test = pd.read_csv(test_path, names=CSV_COLUMN_NAMES, header=0)
# Aqui iremos utilizar o keras (um módulo do Tensorflow) para pegar nossas bases de dados e lê-las dentro de um dataframe pandas

Downloading data from https://storage.googleapis.com/download.tensorflow.org/data/iris_training.csv
16384/2194 [================================================================================================================================================================================================================================] - 0s 0us/step
Downloading data from https://storage.googleapis.com/download.tensorflow.org/data/iris_test.csv
16384/573 [=========================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================] - 0s 0us/step

In [10]:
# É importante sempre verificar os dados
train.head()

   SepalLenght  SepalWidth  PetalLenght  PetalWidth  Species
0          6.4         2.8          5.6         2.2        2
1          5.0         2.3          3.3         1.0        1
2          4.9         2.5          4.5         1.7        2
3          4.9         3.1          1.5         0.1        0
4          5.7         3.8          1.7         0.3        0